.chk-lbl, .options, .selected-text {
    box-shadow: inset 0 0 5px #345678;
    background-color: #EDEDED;
}
.chk-lbl, .option {
    padding: 2px 5px;
}
.selected-text {
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
.options {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    max-height: 5em;
    overflow: hidden;
}
.chk-lbl {
    width: 100px;
    height: 20px;
    display: block;
    cursor: pointer;
    position: relative;
}
.option {
    overflow: hidden;
}
.chk-lbl > input {
    visibility: hidden;
}
:checked ~ .options {
    display: block;
    top: auto;
    bottom: auto;
    overflow: auto;
}
:checked ~ .options > .option:hover {
    background-color: #343434;
    color: #ACACAC;
}
.chk-lbl > .chk-pseudo {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    border-width: 8px;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: black;
    border-bottom-color:transparent;
    z-index: 2;
}
:checked + .chk-pseudo {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 6px;
    border-width: 6px;
    border-style: solid;
    border-right-color: black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color:transparent;
    z-index: 3;
}
