.select{
    width: 130px;
    height: 24px;
    overflow:hidden;
    max-height: 5em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.options{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #EDEDED;
    box-shadow: inset 0 0 5px #345678;
    height: 100px;
    overflow: hidden;
}
.options-wrapper{
    overflow: auto;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
}
.select.show{
    overflow: visible;
}
.select.show > .options{
    display: block;
}
.select:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-top-color: black;
    z-index: 2;
}
.select.show:before {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-right-color: black;
}
.select:after{
    content: attr(data-option);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEDED;
    box-shadow: inset 0 0 5px #345678;
    padding: 2px 5px;
}
.option {
    padding: 2px 5px;
    overflow: hidden;
}
.show.select > .options .option:hover {
    background-color: #343434;
    color: #ACACAC;
}
